@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root{
    --font01: verdana, genova, tahoma, sans-serif;
    --font02: 'Passion One', cursive;
    --font03: 'Sriracha', cursive;
}
*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body{
    background-color: darkgrey;
    min-height: 100vh;
    font-family: var(--font01);
}
header{
    background-color: black;
    color: white;
    text-align: center;
    }
    header h1{
        padding-top: 50px;
        padding-bottom: 10px;
        font-variant: small-caps;
        font-family: var(--font02);
        font-size: 10vw;
    }
    header p{
        padding-bottom: 50px;
        font-size: 16px;
        font-family: var(--font01);
    }
    a{
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
    a:hover{

        text-decoration: underline;
    }
section{
    white-space: pre-line;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    font-weight: bold;
    line-height: 2em;
    font-family: var(--font03);
    font-size: 3.5vw;
    
    
}
section.imagem p{
    text-shadow: 1px 1px 0px black;
}
    .normal{
        background-color: white;
        color: black;
    }
    .imagem{
        background-color: rgb(41, 40, 40);
        color: white;

    }
.imagem p{
    display: inline-block;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.352);
   
}
#img1{
    background-image: url(imagens/background001.jpg);
    background-attachment: fixed;
    background-position: right;
    background-size:cover;
}

#img2{
    background-image: url(imagens/background002.jpg);
  background-attachment: fixed;
  background-position: center right;
  background-size:cover;
}
    footer{
        background-color: black;
        text-align: center;
        color: white;
        padding: 10px;
    }
